@page "/project/{ProjectId:int}"
@using Etn.MyLittleBoard.Server.Components.Shared
@using MudBlazor.Utilities

@attribute [Authorize]

<PageTitle>Project - My Little Board</PageTitle>

<MudBreadcrumbs Items="items" Class="px-0">
    <ItemTemplate Context="i">
        <MudLink Href="@i.Href" Typo="Typo.subtitle2">@i.Text</MudLink>
    </ItemTemplate>
</MudBreadcrumbs>

<MudText Typo="Typo.h1" Class="mb-6">
    <MudAvatar Size="Size.Large" Color="Color.Primary" class="mr-2">A</MudAvatar>
    My Project
</MudText>

<ColorSelect @bind-Value="this.myColor" class="select-primary" id="color"></ColorSelect>

<MudGrid Class="flex-row-reverse">
    <MudItem xs="12" sm="4">
        <MudPaper Elevation="0" Class="pa-4">
            <MudText Typo="Typo.h2" Class="mb-4">About</MudText>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum iure libero molestiae debitis incidunt dicta architecto, laborum neque perspiciatis sit ab est ipsum omnis accusantium suscipit aperiam id quod corrupti.</p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="8">
        <MudPaper Class="pa-4">
            <MudText Typo="Typo.h2" Class="mb-4">Iterations</MudText>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private BreadcrumbItem[] items = [];
    private string myColor = Colors.Red.Default;

    [Parameter]
    public int? ProjectId { get; set; }

    protected override void OnParametersSet() {
        if (this.ProjectId.HasValue)
        {
            this.items = new BreadcrumbItem[] {
                new BreadcrumbItem("Home", href: "/"),
                new BreadcrumbItem("Project", href: $"/project/{this.ProjectId}", disabled: true)
            };
        }
    }
}
