@using MudBlazor.Utilities

@inherits InputBase<string>

<div class="wrapper my-1" @onfocusout=@(() => this.open = false)>
    <MudButton Variant="Variant.Text" EndIcon="@Icons.Material.Filled.ArrowDropDown" Class="color-select relative px-3 py-2" @onclick="() => this.open = !this.open">
        <div class="color-square rounded" style="@($"background:{this.CurrentValue};")"></div>
        <div class="outline"></div>
    </MudButton>
    <MudPopover Open="this.open" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopLeft" Class="mt-1">
        <MudPaper Class="d-flex flex-wrap gap-3 pa-4" Width="240px">
            @foreach (var item in CustomPalette)
            {
                <button style="@($"background:{item};")" class="@($"color-square {(this.IsActiveColor(item) ? "rounded-xl" : "rounded")}")" @onmousedown="() => { this.CurrentValue = item; }" />
            }
        </MudPaper>
    </MudPopover>
</div>

@code {
    private bool open = false;

    [Parameter]
    public bool Disabled { get; set; }

    protected override bool TryParseValueFromString(string? value, out string result, out string validationErrorMessage)
    {
        throw new InvalidOperationException();
    }

    protected override void OnParametersSet()
    {
        if (!this.CustomPalette.Any(x => string.Equals(x, CurrentValue, StringComparison.InvariantCultureIgnoreCase)))
        {
            this.CurrentValue = ColorConstants.ProjectDefaultColor;
        }
    }

    private bool IsActiveColor(string value) => string.Equals(this.CurrentValue, value, StringComparison.InvariantCultureIgnoreCase);

    public IEnumerable <string> CustomPalette { get; set; } = new string[]
    {
        Colors.Red.Default,
        Colors.Pink.Default,
        Colors.Purple.Default,
        Colors.DeepPurple.Default,
        Colors.Indigo.Default,
        Colors.Blue.Default,
        Colors.LightBlue.Default,
        Colors.Cyan.Default,
        Colors.Teal.Default,
        Colors.Green.Default,
        Colors.LightGreen.Default,
        Colors.Lime.Default,
        Colors.Yellow.Default,
        Colors.Amber.Default,
        Colors.Orange.Default,
        Colors.DeepOrange.Default,
        Colors.Brown.Default,
        Colors.BlueGray.Default,
        Colors.Gray.Default,
        Colors.Shades.Black,
    };
}
