<div class="d-flex justify-center align-center flex-column gap-10 pa-16 " style="width: 100%;">
    <MudIcon Color="Color.Primary" Icon="@Icons.Material.Outlined.SearchOff" Style="font-size: 6rem;" />
    <MudText Typo="Typo.caption">Item not found</MudText>
</div>
