@page "/"
@inject ISender sender

@using Etn.MyLittleBoard.Application.Projects.Create
@using Etn.MyLittleBoard.Domain.Aggregates.Projects
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>My Little Board</PageTitle>

<AuthorizeView>
        <h1>Hello @context.User.Identity?.Name!</h1>

        <p>Welcome to your new app.</p>

        <AuthorizeView Roles="@Role.Administrator" Context="innerContext">
            <Authorized>
                <p>You're an @(innerContext.User.Claims.FirstOrDefault(c => c.Type == Claim.Role)?.Value)!</p>
            </Authorized>
        </AuthorizeView>

         <MudButton OnClick="@(() => CreateProject())">
            Create project
        </MudButton>
</AuthorizeView>

@code {
    private async Task CreateProject()
    {
        Result<ProjectId> result = await sender.Send(new CreateProjectRequest("Test 1"));
        Console.WriteLine(result.Value);
    }
}
