<div class="wrapper d-flex justify-center align-center mt-n16">
    <div class="card mud-background-gray rounded d-flex flex-column justify-center align-center gap-4 py-10">
        <MudImage Src="logo.svg" Width="128" Height="128" Alt="My Little Board logo" />
        <MudText Align="Align.Center" Typo="Typo.h4">My Little Board</MudText>
        <MudButton Href="MicrosoftIdentity/Account/SignIn" Variant="Variant.Filled" Color="Color.Primary">Log in</MudButton>
    </div>
</div>
