@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@this.darkMode" Theme="myLittleTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<CascadingAuthenticationState>
    <MudLayout>
        <MudMainContent>
            <AuthorizeView>
                <Authorized>
                    <div> @* Apply scoped style *@
                        <NavBar DarkMode="darkMode" OnDarkModeToggled="@((x) => this.darkMode = x)" />
                        <MudContainer MaxWidth="MaxWidth.Large" Class="py-4 main-content">
                            <CustomErrorBoundary>
                                @Body
                            </CustomErrorBoundary>
                        </MudContainer>
                    </div>
                    <Footer />
                </Authorized>
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
                <Authorizing>
                    Loading...
                </Authorizing>
            </AuthorizeView>
        </MudMainContent>
    </MudLayout>
</CascadingAuthenticationState>

@code {
    private bool darkMode;

    private MudTheme myLittleTheme = new()
        {
            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthRight = "320px"
            }
        };
}
