@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="@this.darkMode" Theme="myLittleTheme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<CascadingAuthenticationState>
    <MudLayout>
        <MudMainContent>
            <AuthorizeView>
                <Authorized>
                    <div> @* Apply scoped style *@
                        <NavBar DarkMode="darkMode" OnDarkModeToggled="@((x) => this.darkMode = x)" />
                        <MudContainer MaxWidth="MaxWidth.Large" Class="py-10 main-content">
                            <CustomErrorBoundary>
                                @Body
                            </CustomErrorBoundary>
                        </MudContainer>
                    </div>
                    <Footer />
                </Authorized>
                <NotAuthorized>
                    <Login />
                </NotAuthorized>
                <Authorizing>
                    Loading...
                </Authorizing>
            </AuthorizeView>
        </MudMainContent>
    </MudLayout>
</CascadingAuthenticationState>

@code {
    private bool darkMode;

    private MudTheme myLittleTheme = new()
        {
            LayoutProperties = new LayoutProperties()
            {
                DrawerWidthRight = "320px"
            },
            Typography = new Typography()
            {
                H1 = new H1()
                {
                    FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                    FontSize = "1.5rem",
                    FontWeight = 600,
                    LineHeight = 1.5,
                    LetterSpacing = "normal",
                },
                H2 = new H2()
                {
                    FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                    FontSize = "1rem",
                    FontWeight = 600,
                    LineHeight = 1.5,
                    LetterSpacing = "normal",
                }
            }
        };
}
